@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* background */
:root {
  background: rgb(17, 24, 39);
  background: -moz-radial-gradient(
    circle,
    rgba(17, 24, 39, 1) 7%,
    rgba(17, 22, 35, 1) 37%,
    rgba(15, 14, 14, 1) 95%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(17, 24, 39, 1) 7%,
    rgba(17, 22, 35, 1) 37%,
    rgba(15, 14, 14, 1) 95%
  );
  background: radial-gradient(
    circle,
    rgba(17, 24, 39, 1) 7%,
    rgba(17, 22, 35, 1) 37%,
    rgba(15, 14, 14, 1) 95%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111827",endColorstr="#0f0e0e",GradientType=1);
}

/* stars background */
#stars {
  width: 1.5px;
  height: 1.5px;
  background: transparent;
  border-radius: 100%;
  animation: blink 2s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

#stars2 {
  width: 1.2px;
  height: 1.2px;
  background: transparent;
  border-radius: 100%;
  animation: blink 4s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

#stars3 {
  width: 1.1px;
  height: 1.1px;
  background: transparent;
  border-radius: 100%;
  animation: blink 3s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
