@import "tailwindcss";

html {
  background: rgb(17, 24, 39);
  background: -moz-radial-gradient(
    circle,
    rgba(17, 24, 39, 1) 7%,
    rgba(17, 22, 35, 1) 37%,
    rgba(15, 14, 14, 1) 95%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(17, 24, 39, 1) 7%,
    rgba(17, 22, 35, 1) 37%,
    rgba(15, 14, 14, 1) 95%
  );
  background: radial-gradient(
    circle,
    rgba(17, 24, 39, 1) 7%,
    rgba(17, 22, 35, 1) 37%,
    rgba(15, 14, 14, 1) 95%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111827",endColorstr="#0f0e0e",GradientType=1);
}
