---
import Layout from "../components/layouts/index.astro";
import Footer from "../components/footer/index.astro";
---

<Layout title="GuestBook">
  <main class="container mx-auto max-w-2xl flex-1 px-6">
    <p>NOT AVAILABLE</p>
  </main>
  <Footer />
</Layout>